body {
    align-self: center;
    border-top: 5px brown;
    border-top-style: solid;
    width: 40%;
    margin: 100px 0 0 100px;
    padding: 10px 10px 10px 10px;
}

.mc{
    display: flex;
    flex-direction: column;
}
.mc2{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.mc3{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;

}
.mc4{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
div.mc5.lname{
    margin-left: 20px;
}

.info-detail-tag{
    flex: 2;
}
.info-tag{
    margin-right: 100px;
    flex: 1;
}
.mc4v2{
    display: flex;
    flex-direction: column;
}
.mc6{
    display: flex;
    flex-direction: start;
    width: 300px;
}
.state input {
    width: 30px;
    margin-right: 10px;
}
.city input {
    width: 100px;
    margin-right: 10px;
}
.zip input {
    width: 50px;
    margin-right: 10px;
}
.large-input{
    width:300px;
}
.page-title{
    text-align:center;
}

.personal-info, .prev-info, .refer{
    color: saddlebrown;
}

.pno1 input{
    width: 30px;
}
.pno1{
    margin-right: 5%;
}
.pno2{
    width: 75%;
}

.submit-button{
    align-self: center;
}
.submit{
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: brown;
}
input{
    border-radius: 2px;
    border-style: solid;
    border-color: brown;
}